---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Card from '../components/Card.astro';
---

<Layout>
	<Hero
		videoSrc="/videos/hero-video-1.mp4"
    title="Where reality meets code"
    subtitle="Crafting <strong>your dreams</strong> with passion"
  />
  <Card title="The developer">
    <p class="big">I'm Anna — a web developer turning ideas into elegant, functional experiences.</p>
    <p class="big">My goal is to craft each project with care, creativity, and cutting-edge tech.</p>
    </p>
  </Card>
</Layout>
