---
const { title, invert = false } = Astro.props;
---

<section class={`card${invert ? " card--invert" : ""}`}>
  <div class="card__header">
    <span class="card__dot"></span>
    <h2 class="card__title">{ title }</h2>
  </div>
  <div class="card__body">
    <slot />
  </div>
</section>

<style>
  .card {
    padding: 2rem 4rem;
    background: #fff;
    color: #111111;
    transition: background 0.2s, color 0.2s;
  }

  .card__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .3rem;
    border-bottom: 7px solid #111111;
  }

  .card__dot {
    width: 8px;
    height: 8px;
    border-radius: 4px 0 4px 0;
    background-color: #111111;
    transition: background 0.2s;
  }

  .card__title {
    font-size: 10px;
    text-transform: uppercase;
  }

  .card__body {
    padding-left: 20rem;
  }

  /* INVERTED STYLES */
  .card--invert {
    background: #111111;
    color: #fff;
  }
  .card--invert .card__header {
    border-bottom-color: #fff;
  }
  .card--invert .card__dot {
    background-color: #fff;
  }

  @media (max-width: 768px) {
    .card {
      padding: 2rem 2.2rem;
    }
    .card__body {
      padding-left: 0;
    }
  }

  :global(.card__body p.big) {
    font-size: 2rem;
    line-height: 1;
  }

  @media (max-width: 600px) {
    :global(.card__body p.big) {
      font-size: 1.3rem;
      text-wrap: balance;
    }
  }
</style>