<footer class="white-section">
  <img src="/public/favicon-dark.svg" alt="" />
  <p>Anna Prats Marín © 2025.</p>
</footer>

<style>
  footer {
    font-size: 0.8rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  footer img {
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: middle;
  }
</style>
