---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
		<link rel="icon" href="/favicon-light.svg" media="(prefers-color-scheme: light)">
    <link rel="icon" href="/favicon-dark.svg" media="(prefers-color-scheme: dark)">
		<meta name="generator" content={Astro.generator} />

		<title>anna prats | web developer</title>

    
    <!-- Dev icons library -->
    <link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />

	</head>
	<body>
    <Navbar />
    <div id="smooth-wrapper">
      <div id="smooth-content">
        <slot />
        <Footer />
      </div>
    </div>
  </body>
</html>

<style>
	html, body {
    font-family: 'Neue Montreal', sans-serif;
    font-weight: normal;
    font-size: 20px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	}
</style>
