---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />

    <!-- CSS -->
    <link rel="stylesheet" href="/src/styles/global.css" />

		<title>Anna Prats, developer</title>
	</head>
	<body>
		<Navbar />
		<slot />
	</body>
</html>

<style>
	html, body {
    font-family: 'Neue Montreal', sans-serif;
    font-weight: normal;
    font-size: 20px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	}
</style>
