---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />

		<title>Anna Prats, developer</title>

	</head>
	<body>
    <div id="smooth-wrapper">
      <div id="smooth-content">
        <Navbar />
        <slot />
      </div>
    </div>

    <script type="module" src="/src/scripts/scroll-smooth.js"></script>

	</body>
</html>

<style>
	html, body {
    font-family: 'Neue Montreal', sans-serif;
    font-weight: normal;
    font-size: 20px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	}
</style>
